body {
  font-family: Tahoma, sans-serif;
}
.my-container {
  display: flex;
}
.my-container > *, .my-string {
  border: 1px solid #5A322A;
  border-radius: 5px;
  padding: .5em;
  margin: .5em;
  font-weight: bold;
}
.my-container > *:hover {
  background-color: #BC7B6F;
  border-radius: 5px;
  padding: .5em;
  margin: .5em;
}
a {
  text-decoration: none;
  color: #5A322A;
}
a:hover {
  text-decoration: underline;
}
.my-guitar-string {
  height: 30px;
  width: 100%;

  clip-path: shape(
    from 0% 45%,
    curve to 100% 45% with 50% 45%,
    line to 100% 55%,
    curve to 0% 55% with 50% 55%,
    close
  );

  background: #5A322A;
}
@keyframes pluck {
  0%   {
    clip-path: shape(
      from 0% 45%,
      curve to 100% 45% with 50% 100%,
      line to 100% 55%,
      curve to 0% 55% with 50% 110%,
      close
    );
  }
  10%  {
    clip-path: shape(
      from 0% 45%,
      curve to 100% 45% with 50% -40%,
      line to 100% 55%,
      curve to 0% 55% with 50% -30%,
      close
    );
  }
  25%  {
    clip-path: shape(
      from 0% 45%,
      curve to 100% 45% with 50% 130%,
      line to 100% 55%,
      curve to 0% 55% with 50% 140%,
      close
    );
  }
  40%  {
    clip-path: shape(
      from 0% 45%,
      curve to 100% 45% with 50% 20%,
      line to 100% 55%,
      curve to 0% 55% with 50% 30%,
      close
    );
  }
  55%  {
    clip-path: shape(
      from 0% 45%,
      curve to 100% 45% with 50% 110%,
      line to 100% 55%,
      curve to 0% 55% with 50% 120%,
      close
    );
  }
  60%  {
    clip-path: shape(
      from 0% 45%,
      curve to 100% 45% with 50% 70%,
      line to 100% 55%,
      curve to 0% 55% with 50% 80%,
      close
    );
  }
  65% {
    clip-path: shape(
      from 0% 45%,
      curve to 100% 45% with 50% 45%,
      line to 100% 55%,
      curve to 0% 55% with 50% 55%,
      close
    );
  }
  100% {
    clip-path: shape(
      from 0% 45%,
      curve to 100% 45% with 50% 45%,
      line to 100% 55%,
      curve to 0% 55% with 50% 55%,
      close
    );
  }
}

.vibrate {
  animation: pluck 0.8s ease-out;
}
